[broker]
host=localhost
port=1883

[pushover]
user=abcdef123
token=321fed

[nfc]
scan_poll_sleep = 5
nfcpy_path=/usr/local/src/nfcpy/trunk

[watchdog]
timeout_sec=30
notification_count=1

[blink]
sec_between_blinks=2
motion_unknown_timeout_sec=30
motion_on_color=0xff,0x00,0x00
motion_off_color=0x00,0xff,0x00
motion_detected_color=0xff,0xff,0x00
motion_filesync_color=0x00,0x00,0xff

[motionctl]
authorized_id=uuid
scan_timeout_sec=10
proc_poll_sleep=5