[broker]
host=localhost
port=1883

[pushover]
user=abcdef123
token=321fed

[nfc]
scan_poll_sleep = 5

[watchdog]
timeout_sec=30
notification_count=1

[blink]
sec_between_blinks=2
show_status_sec=30
recent_status_sec=10
motion_on_color=0xff,0x00,0x00
motion_off_color=0x00,0xff,0x00
motion_detected_color=0xff,0xff,0x00
motion_filesync_color=0x00,0x00,0xff
motion_filesync_cancel_color=0xff,0xff,0xff

[motionctl]
authorized_id=uuid
auth_timeout_sec=30
scan_timeout_sec=10
proc_poll_sleep=5

[filemanager]
filesync_delay=30
filesync_dest=s3://
filestore_path=/var/lib/motion/storage